var config = {}

config.node_port = 8081;
config.url = "http://localhost";
config.logo_url = "http://fabelier.org/f/Sticker0.png";

config.reverse_proxy = false;
config.reverse_proxy_port = 80;

module.exports = config;

